@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    background-color:#fff ;
}

/* ---- Container ---- */
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: #0a2348;
    margin: 0 auto;
}
.weather-rep{
    min-width: 350px;
    flex: 1;
    height: 1000px;
    padding: 30px 40px;
}


/* || NAVIGATION BAR section css STRt */ 
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #0a2348;
}
.location {
    display: flex;
    flex-direction: column;
    white-space: wrap;
}
.state-country{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.location  h2{
    font-size: 30px;
}
.location  h3 {
    font-size: 20px;
}

.location h3  img {
    font-size: 18px;
    padding-right: 10px;
}

/* search Area section css */

.search-area {
    position: relative;
    width: 300px;
}

.search-area input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    color: #0a2348;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    border: 1.5px solid #e3e4e5b1;
}

::placeholder {
    color: #0a2348;
}

.search-area img {
    position: absolute;
    top: 12px;
    right: 0;
    color: orange;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    text-align: center;
}

.hamburger{
    display: none;
    position: absolute;
    right: 30px;
    top: 46px;
    cursor: pointer;
    margin-left: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #0a2348;
}
/* Main weather report css start */
.curr-status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.weather{
    min-width: 200px;
    max-width: 650px;
    min-height: 325px;
    padding: 20px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #0a2348;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
        -2px -2px 10px rgba(0, 0, 0, 0.2);
}


/* Box-1 */

.weather-1{
    background: linear-gradient(to right bottom, #b7f1f3, #feddcd);
    /* background-image: linear-gradient(to right top, #80aced, #32c7f4, #23dddd, #7febb4, #d2f090); */
   
}


.weather-heading{
    display: flex;
    align-items: center;
    gap: 20px;
}

.weather-img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    padding: 8px;
}
.weather-img > img{
    position: absolute;
    left: -7px;
    top: -4px;
}

.weather-desc{
    color: #0a2348;
}
.weather-desc h4{
    font-size: 14px;
    white-space: nowrap;
    font-weight: 200;
}
.weather-temp{
    margin-bottom: 10px;
}
.weather-temp  .temperature{
    display: flex;
    align-items: center;
}
.temperature h2{
    font-size: 50px;
}

.temperature img{
    width: 120px;
    margin-left: 40px;
}

.temp{
    display: flex;
    justify-content: start;
    align-items: center;
}

.temp img {
    width: 100px;
    margin: -20px;
}

.weather-temp p{
    margin-top: -25px;
    white-space: wrap;
    font-weight: 600;
    width: 200px;
    letter-spacing: 0.8px;
}
.weather .weather-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-details .box{
    width: 100px;
    height: 80px;
    border-radius: 20px;
    margin-inline: 4px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box p{
    font-size: 14px;
    letter-spacing: 0;
}

.box h3 {
    font-size: 18px;
}
#pressure{
    color: #fff;
}
.weather-details div:first-child{
    background-color: #0a2348;
    color: #fff;
}
.weather-details div:nth-child(2){
    background-color: #CCE16A;
}

.weather-details div:nth-child(3){
    background-color: #fff;
}


/* 2- BOx */

.weather-2 {
    background: #FFD8E7;
    /* background-image: url("./assets/city.jpg"); */
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%); 
    /* background-image: linear-gradient(to right, rgb(96, 165, 250), rgb(52, 211, 153)); */
}

.more-detail-box {
    width: 100%;
    height: 110px;
    background-color: rgba(219, 226, 239, 0.6);
    /* background-color:  #0a2348; */
    border-radius:20px;
    margin-block: 20px;
    color: #fff;
    padding: 14px;
    font-weight: 100;
}

.more-detail-box  p, h3, span{
    font-weight: 500;
    font-size: 14px;
    color:  #0a2348;
}
.sunrise-sunset{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sunrise, .sunset {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-block: 10px;
    white-space: nowrap;
    margin-right: -5px;
}

.sunrise span,
.sunset span {
    margin-right: 10px;
    font-size: 24px;
}

.sunrise-status p,
.sunset-status p {
    font-size: 15px;
    margin: 2px;
}

/* box of UVI Rays Css Start */

.uvi-rays-area {
    display: flex;
    align-items: center;
    padding: 10px;
}

.uvi-rays-area img{
    height: 50px;
    margin-right: 10px;
}

.uvi-mesurment .uvi-rays-status{
    display: flex;
    align-items: center;
    gap: 8px; 
}

.uvi-rays-status div:first-child{
    font-size: 25px;
}

.uvi-rays-status #uvi-lvl {
    background-color: #CCE16A;
    color: #0a2348;
    padding: 3px 8px;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.uvi-lvl-desc {
    font-size: 14px;
    font-weight: 100;
}


/* .more-dbox {
    width: 140px;
    height: 120px;
    background-color: rgba(219, 226, 239, 0.6);
    background-color:  #0a2348;
    border-radius:20px;
    margin-block: 20px;
    color: #fff;
    padding: 10px;
    font-weight: 100;
}

.more-detail-box  p, h3, span{
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}

.uvi-rays-area {
    display: flex;
    align-items: center;
    padding: 10px;
}
    
.uvi-rays-area img{
    height: 50px;
    margin-right: 10px;
}
.uvi-mesurment{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.uvi-mesurment .upper-details{
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
    
.uvi-mesurment .uvi-rays-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px; 
}
    
.uvi-rays-status div:first-child{
    font-size: 20px;
        
}
    
.uvi-rays-status #uvi-lvl {
    background-color: #CCE16A;
    color: #fff;
    padding: 3px 12px;
    border-radius: 20px;
    font-weight: 500;
}
    
.uvi-lvl-desc {
    font-size: 14px;
    font-weight: 100;
} */
/* box of UVI Rays Css end */

/* 24-Hourly temperature css strart */

.hourly-weather{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #0a2348; 
}
.hourly-Temp-heading{
    white-space: nowrap;
    letter-spacing: 0.8px;
}

.temp-at{
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;
    background: linear-gradient(to right bottom, #4EA6E5, #b7f1f3);
    background-position: top;
    background-size: cover;
    padding: 20px 10px;
}

.temp-at::-webkit-scrollbar {
    display: none;
} 
.hourly-box{
    /* background-color:  #f3f7f7; */
    background-color: rgba(219, 226, 239, 0.7);
    width: 110px;
    padding: 10px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hourly-box p{
    font-size: 14px;
    font-weight: 700;
}

.slider{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    width: 320px;
    height: 920px;
    border-radius: 0 0 0 20px;
    background-color: #f3f7f7;
    padding: 20px 15px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 3;
}

.slider::-webkit-scrollbar {
    display: none;
}


.time-date{
    font-size: 14px;
}

.time-date h2 {
    font-size: 32px;
    white-space: nowrap;
}

.time-date p {
    font-size: 14px;
}
/* Air quality Prediction section css staert */
.slider .aqi-predict{
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-image: url("./assets/riding.jpg");
    background-position: center;
    background-size: cover;
    margin: 30px 0 20px;
    color: #0a2348;
    padding: 10px;
}

.aqi-predict .current-aqi {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: space-evenly;
    padding: 0 20px;
}

.Aqi-lvl{
    display: flex;
    gap: 20px;
}

.Aqi-lvl .Aqi{
    font-size: 25px;
}

.Aqi-lvl span{
    background-color: #f4e10d;
    width: 45px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

.consern-lvl{
    margin-top: -40px;
}

/* || 6 DAYS ForecaST SECTION CS START */

.weather-prediction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0a2348;
    gap: 20px;
    margin-block: 10px;

}

.weather-prediction h3 {
    font-size: 26px;
    white-space: nowrap;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.days-box {
    background-color:  #fff;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    padding: 14px 15px;
    box-shadow: 5px 5px 10px #cccccc,
        -5px -5px 10px #f4f4f4;
}

.days-box img {
    width: 50px;
    margin-right: 14px;
}

.days-box div:first-child {
    display: flex;
    align-items: center;
}

.days div {
    padding-block: 3px;
}

.days .prediction-day {
    color: #7A7F8E;
    font-size: 14px;
}

.days .prediction-desc {
    color: #0a2348;
    font-weight: 700;
}

.days-box .days-temp {
    color: orange;
    font-weight: 700;
}

.days-box .days-temp span {
    font-weight: 100;
}

.prediction-desc {
    font-size: 18px;
}

/* || FOOTER */
footer {
    height: 60px;
    width: 100%;
    background-color: #0a2348;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0 20px;
    z-index: 5;
}

footer .copyright {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;

}
footer .copyright a{
    color: #ee9157;
}
#copyright {
    color: #fff;
}



/* FOr  RESPONSIVE CSS start */
@media screen and (max-width: 1020px) {

    .weather-rep {
        height: 1320px;
    }

    .weather {
        width: 100%;
    }

    .curr-status {
        flex-direction: column;
    }

    .sunrise-sunset {
        margin-inline: 20px;
    }

    .more-detail-box {
        width: 90%;
        margin: 20px auto;
    }

    .slider {
        height: 1320px;
    }

    .hourly-weather {
        gap: 0;
    }

    .days-box {
        height: 100px;
    }


}

@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
        z-index: 5;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .search-area {
        margin-right: 60px;
    }

    .temperature img {
        margin-left: 60px;
    }

    .temp img {
        margin-left: -20px;
    }

    .slider {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 30px 40px;
        display: none;
        transition: 0.3s;
    }

    .slider.active {
        display: block;
    }

    .more-detail-box {
        height: 120px;
    }
}

@media screen and (max-width: 570px) {

    .weather-rep {
        height: 1350px;
    }

    .sunrise-sunset {
        margin-inline: 0;
    }

    .slider {
        height: 1300px;
    }

    nav {
        flex-direction: column-reverse;
    }

    .search-area {
        width: 85%;
        margin-top: 8px;
    }

    .location {
        margin: 20px 10px 0;
    }

    .location h2 {
        font-size: 25px;
    }

    .location h3 {
        font-size: var(--SMALL-TEXT);
    }

    .hourly-Temp-heading h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {

    .hamburger {
        right: 10px;
        top: 46px;
    }

    .temperature img {
        width: 80px;
        margin-bottom: 18px;

    }

    .sunrise-sunset h3 {
        font-size: 15px;
        margin-right: 5px;
    }

    .sunrise span,
    .sunset span {
        margin-right: 5px;
        font-size: 20px;
    }
}


/* scroll design start */
html {
    --scrollbarBG: #ffffff;
    --thumbBG: #eaa12c;
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 10px;
    border: 2px solid var(--scrollbarBG);
  }
  
  /* scroll design end */