@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

*, *::before
, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    background-color:#fff ;
}

/* ---- Container ---- */
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--PRIMARY-TEXT-COLOR);
    margin: 0 auto;
}
.weather-rep{
    min-width: 350px;
    flex: 1;
    height: 1000px;
    padding: 30px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--PRIMARY-TEXT-COLOR);
}
.location {
    white-space: wrap;
}

.location > h2{
    font-size: 30px;
}
.location > h3 {
    font-size: 20px;
}

.location > h3 > i {
    font-size: 18px;
    padding-right: 10px;
}

/* search Area section css */

.search-area{
    position: relative;
    padding-right: 300px;
}

.search-area > input{
    width: 100%;
    height: 45px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    color: #0a2348;
    padding-left: 20px;
    font-weight: 500;
    font-size: 3rem;
    border: 1.5px solid #e3e4e5b1;
}

::placeholder{
    color: #0a2348;
}
.search-area > i {
    position: absolute;
    top: 12px;
    right: 0;
    color: orange;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    text-align: center;
}